/*
=== Lists ===
*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: none;
    padding-left: 10px;

}
li {
    float: left;
    font-family: 'Righteous', 'bold';
    font-size: 18px;
    text-decoration: none;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
}
li a:hover:not(.active) {
    background-color: #e15c05;
    color: white;
}
li a:hover {
    text-decoration: none;
    background: white;
}
.current {
    background-color: none;
    border-bottom: 5px solid #FFFFFF;
}
#introduction {
    position: fixed;
    top: 20%;
    left: 25%;
    text-align: center;
    padding: 1px 1px 1px 1px;
    width: 50%;
    height: 85%;
    margin: 1px auto;
    color: white;
    animation-name: intro;
    animation-duration: 3s;
    animation-iteration-count: 1;
}
/*
.title {
    position: fixed;
    border-top: 5px solid #FFFFFF;
    text-align: justify;
    bottom: 15%;
    margin-left: 20px;
    margin-right: 200px;
    animation-name: description;
    animation-duration: 3s;
    animation-iteration-count: 1;
}
*/

@-webkit-keyframes intro,
@keyframes intro{
    from top: 50%;
        to top 20%;
}

@-webkit-keyframes description,
@keyframes description{

}
.contact {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 70;
    width: 100%;
}
.samples {
    margin: 20px 20px 1px 20px;
}
/*
====================
        Fonts
====================
*/
h1 {
    font-size: 200px;
    font-family: 'Modak';
}
h6 {
    background: white;
    font-size: 20px;
    margin: 10px 50px 0px 50px; 
}
p {
    font-size: 20px;
    bottom: 10%;
    border-top: 5px solid #FFFFFF;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 100px;
}
/*
====================
        Extras
====================
*/
.assist {
    text-align: center;
    margin: 150px 100px 200px 100px;
}
#timex {
    position: fixed;
    padding-left: 0.1px auto;
    width: 100%;
    font-size: 35px;
    color: white;
    overflow: auto;
    font-family: Impact;
    bottom: 0;
    left: 0.5%;
    height: 70;
}
body {
    background-color: #FF9933;
}
header{
    position: fixed;
}
img {
    padding: 0.2em;
}
.social-icns {
    position: fixed;
    padding-right: 0.1px auto;
    right: 0.5%;
    height: 70;
    bottom: 0;
    overflow: auto;
}